* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #D3488D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gif {
    height: 100%;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    margin: 15px 0;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

button {
    width: 150px;
    color: aliceblue;
    font-size: 1.2em;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(74, 73, 73);
    border: none;
    padding: 10px; 
}

button.yes-button {
    background: #6A4C93;
}

button.no-button {
    background-color: #dedede;
    color: #e94d58;
}
